.alarm-container{
    max-width: 100vw;
    min-width: 100vw;
    max-height: 80px;
    min-height: 80px;
    border-bottom: 1px solid rgb(206, 206, 206);
    color: rgb(206, 206, 206);
    display: flex;
}

.alarm-container.active{
    color: inherit;
}


.alarm-main{
    display: flex;
    flex-wrap: wrap;
    min-width: 100vw;
    align-items: center;
}

.alarm-header{
    display: flex;
    align-items: center;
    max-height: 30px;
    font-size: 12px;
    width: 100%;
}

.header-icon{
    max-width: 20px;
    max-height: 20px;
    margin-right: 4px;
    margin-left: 12px;
}

.header-p{
    font-weight: 300;
}

.header-span{
    color: dodgerblue;
}

.alarm-content{
    display: flex;
    align-items: baseline;
    width: 85%;
    color: inherit;
    text-decoration: none;
}

.alarm-hour, .alarm-meridian, .alarm-days{
    padding: 0;
    margin: 0;
}

.alarm-hour{
    margin-left: 16px;
    font-size: 24px;
    font-weight: 400;
}

.alarm-meridian{
    margin-left: 8px;
    font-size: 16px;
    font-weight: 400;
}

.alarm-days{
    margin-left: auto;
    margin-right: 16px;
    font-weight: 300;
}

.alarm-activator{
    margin-right: 8px;
    min-width: 30px;
    min-height: 25px;
    background-color: rgb(206, 206, 206);
    display: flex;
    overflow: hidden;
    align-items: center;
    transition: all 0.5s ease-in-out;
    justify-content: center;
    overflow: visible;
    border-radius: 10%;
}

.alarm-switch{
    min-height: 20px;
    min-width: 20px;
    background-color: white;
    border-radius: 70%;
    margin-right: 2px;
    margin-left: 2px;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    z-index: 20;
}

.activator-border{
    min-width: 25px;
    min-height: 25px;
    position: absolute;
    background-color: inherit;
    border-radius: 50%;
    transform: translateX(-45%);
    z-index: 10;
}

.activator-border.right{
    transform: translateX(45%);
}

.alarm-activator.active{
    background-color: dodgerblue;
}

.alarm-switch.active{
    transform: translateX(50%);
}
