<div class="app-container">
    <app-header></app-header>
    <app-nav (changeSection)="handleSectionChange($event)" [sliderPosition]="sliderCurrentPosition" [sectionIndex]="sectionIndex"></app-nav>
    <main (touchstart)="handleTouchStart($event)" (touchmove)="handleTouchMove($event)" (touchend)="handleTouchEnd()" id="main" class="main">
        <section id="slider" class="slider">
            <section id="alarm-section" class="main-section section-alarm">
                <app-alarm-list></app-alarm-list>
            </section>
            <section id="timer-section" class="main-section section-timer">
                <app-timer></app-timer>
            </section>
            <section id="stopwatch-section" class="main-section section-stopwatch">
                <app-stopwatch></app-stopwatch>
            </section>
        </section>
    </main>
</div>